@import '~bootstrap/scss/mixins';

.social-links-container {
    @include media-breakpoint-up(md) {
        padding-top: 95px;
        padding-bottom: 95px;
    }
}

.social-link {
    color: white;
    text-decoration: none;
    font-size: 70px;
    margin-right: 50px;
    margin-left: 50px;
}