.social-links-container {
    padding-top: 95px;
    padding-bottom: 95px;
}

.social-link {
    color: white;
    text-decoration: none;
    font-size: 70px;
    display: inline-block;
    margin-right: 50px;
    margin-left: 50px;
}