@import 'src/theme';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

.demo-btn {
    color: $light;
    border: 1px solid $light;
    padding: 8px;
    text-align: center;
    width: 250px;
    display: inline-block;
    text-decoration: none;
    font-size: 23px;
    &:hover {
        color: $dark;
        background: $light;
        transition: background 0.3s linear;
    }
}

.tag {
    border: 1px solid white;
    padding: 6px;
    border-radius: 9px;
    margin-right: 10px;
    margin-bottom: 10px;
    cursor: default;
}

.s-link {
    display: inline-block;
    margin-right: 20px;
    text-align: center;
    color: lighten($dark, 60);
    text-decoration: none;
    i {
        font-size: 30px;
    }
}

.project-image {
    height: 350px;
    @include media-breakpoint-up(md) {
        height: 450px;
    }
}
