<swiper
    [direction]="'vertical'"
    [slidesPerView]="1"
    [mousewheel]="true"
    [spaceBetween]="30"
    [autoHeight]="true"
    [observeParents]="true"
    (activeIndexChange)="onNav($event)"
    class="home-swiper"
    (swiper)="onSwiper($event)">
    <!-- Slides order must be in parallel with menuItems order -->
    <ng-template swiperSlide>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <about-me></about-me>
                </div>
            </div>
        </div>
    </ng-template>
    <ng-template swiperSlide>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h3
                        class="d-md-none text-center"
                        i18n>
                        Work EXP
                    </h3>
                    <work-exp></work-exp>
                </div>
            </div>
        </div>
    </ng-template>
    <ng-template swiperSlide>
        <h3
            class="d-md-none text-center"
            i18n>
            Projects
        </h3>
        <projects-list></projects-list>
    </ng-template>
    <ng-template swiperSlide>
        <h3
            class="d-md-none text-center"
            i18n>
            Find me
        </h3>
        <contact></contact>
    </ng-template>
</swiper>
