<div class="row">
    <div class="col-md-4">
        <img [src]="image" class="img-fluid">
    </div>
    <div class="col-md ps-2 ps-md-5">
        <div class="d-flex flex-nowrap flex-column">
            <h5 class="uppercase order-2 order-md-1 text-center text-md-start occupation">{{occupation}}</h5>
            <h1 class="order-1 order-md-2 fullname text-light text-center text-md-start">
                {{firstName}}
                <br class="d-none">
                {{lastName}}
            </h1>
            <p class="order-3 text-light mt-1 mt-md-3">{{about}}</p>            
        </div>
    </div>
</div>
