/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */

@import 'fonts';
@import 'theme';

@import '~bootstrap/scss/bootstrap';
@import 'swiper/scss';



html, body {
    height: 100%;
}

body {
    color: $light;
    background-color: $dark;
    font-size: 1em;
    font-family: $font-family-base;
    font-size: $font-size-base;
    $font-family-base: 'Manrope';
    font-weight: 200;
    @include media-breakpoint-down(md) {
        padding-top: $header-mobile-height;
    }
}

.separator {
    height: 1px;
    position: relative;
    background-color: lighten($dark, 30);
}

