@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

$dark: #0e0e0e;
$navbar-dark-color: #7c7c7c;
$navbar-dark-active-color: lighten($navbar-dark-color, 40);
$header-mobile-height: 60px;
$font-family-base: 'Manrope';
$font-size-base: 1.23em;

$link-color: darken($light, 20);
$link-hover-color: darken($link-color, 10);