@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

$dark: #0e0e0e;
$navbar-dark-color: #7c7c7c;
$navbar-dark-active-color: lighten($navbar-dark-color, 40);

$font-family-base: Verdana, sans-serif